#home {
    background-image: url("http://wmad.cs.vt.edu/images/code_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);

    .card {
        background-color: #ddd;
        border-radius: 10px;
        box-shadow: 2px 5px 5px rgba($color: red, $alpha: 0.4);
    }
}
